body {
	font-family:Verdana,Arial;
	font-size: 13.4px;
	background-color: #CCD;
	min-width: 320px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    display: inline-block;
}

li {
    float: left;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
p{
	border-top-style:none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: dotted;
    border-color:red;
}

   
  